

.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.cardCd {
  width: 500px !important;
  background-color: #f6ffce !important;
  border: 2px solid #a7d8de !important;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 150, 200, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  padding: 15px;
}

.cardCd:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 200, 200, 0.35);
}


.formCd {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formCd input {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  border: 1.5px solid #a7d8de;
  padding: 10px;
  transition: 0.2s ease;
}

.formCd input:focus {
  border-color: #4dd0e1;
  box-shadow: 0 0 8px rgba(77, 200, 225, 0.5);
  outline: none;
}


.btnCd {
  background-color: #4dd0e1 !important;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  padding: 8px 18px;      
  width: auto;           
  align-self: center;     
  margin-top: 10px;
  margin-bottom:10px;
  transition: background-color 0.3s ease;
}

.btnCd:hover {
  background-color: #00acc1 !important;
}




.titleC {
  text-align: center;
  margin-top: 15px;
  font-size: 1.8rem;
  color: #004d61 !important;
  font-weight: 700;
}

.txc,
.tcc,
.cs {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
}

.tcc {
  font-style: italic;
  color: #0077aa;
}



h1 {
  text-align: center;
  margin-top: 20px !important;
  font-family: "Georgia", "Times New Roman", serif;
  font-style: italic;
  letter-spacing: 3px;
  color: #8a2be2;
  font-size: 3.5rem !important; /* grandezza identica a Home */
  animation: glow 2.2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 
      0 0 8px #b066ff,   
      0 0 18px #c48cff,  
      0 0 30px #d6a6ff;  
  }
  to {
    text-shadow: 
      0 0 12px #c48cff, 
      0 0 28px #d6a6ff,
      0 0 50px #e8c2ff; 
  }
}


.imm{
  text-align:center !important;
  margin-top:30px !important
}
.img{
  width:400px;
  height:400px;
text-align:center !important}

.emojiStream{
  width:25px
}