body {
  font-family: "Poppins", sans-serif;
  color: #004d61;
  margin: 0;
  background-image: url("/src/assets/img/bodysfondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding-top:40px
}