html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #004d61;
  background-image: url("/src/assets/img/bodysfondo.png");
  background-size: cover !important;        
  background-position: center !important; 
  background-attachment: fixed;  
  background-repeat: no-repeat;  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
